<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoreManager - Usuários</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    @entryPointStyles('app')
    @entryPointScripts('app')
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">StoreManager</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/loja">Lojas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/usuario">Usuários</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container-fluid p-4">
        <div class="mb-2">
          <a type="button" class="btn btn-dark" href="/usuario">
            <i class="bi bi-arrow-left"></i>
          </a>
        </div>

        <h1 class="title">Editar Usuário</h1>

        <div class="mt-4">
          <form action="{{ route('UsersController.update', { id: user.id }) }}" method="POST">
            <div class="mb-3">
              <label for="name" class="form-label">Nome</label>
              <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Oscar" name="name" required value="{{user.name}}">
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-mail do usuário" name="email" required value="{{user.email}}">
            </div>

            <div class="mb-3">
              <label for="phone" class="form-label">Telefone</label>
              <input type="text" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="84940028922" name="phone" required value="{{user.phone}}">
            </div>

            <button type="submit" class="btn btn-dark">Editar</button>
          </form>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>
